<div class="center jumbotron">
  <h1>CONSUME</h1>
  <p>
    You are a <code>CONSUMER OF PITIFUL TRINKETS</code>, and I will help you thoughtlessly purchase gifts.
  </p>
  <%= link_to "Sign up now.", signup_path, class: "btn btn-lg btn-primary" %>
  <br>
</div>
