<div class="center jumbotron">
  <h1>SPIDER WITH 1000 EYES</h1>
  <p>
    I am a <code>SPIDER WITH 1000 EYES</code>, and I help track your credit
    cards.
  </p>
  <%= image_tag("spider-with-1000-eyes.jpg", alt: "SPIDER WITH 1000 EYES",
      width: 800) %>
</div>
