@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

.mtm {
  margin-top: 40px;
}

.logo {
  color: #fff;
  float: left;
  font-weight: 600;
  padding-top: 15px;
  text-transform: uppercase;
  transform: rotate(-5deg);
  transition: color 0.2s ease,
              transform 0.8s ease;

  &:hover {
    color: #ff2fe5;
    text-decoration: none;
    transform: rotate(4deg);
  }
}

/* Footer */

.footer {
  border-top: 1px solid #ddd;
  margin: 45px 15px 10px;
  padding: 5px 10px;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    color: #777;
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  @include box_sizing;
}
