@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.logo {
  color: #fff;
  float: left;
  font-weight: 600;
  padding-top: 15px;
  text-transform: uppercase;
  transform: rotate(-5deg);
  transition: color 0.2s ease,
              transform 0.8s ease;
}

.logo:hover {
  color: #ff2fe5;
  text-decoration: none;
  transform: rotate(4deg);
}
